:root {
  /* Color 정의 */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-black: #4d4d4d;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* Font size 정의 */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* Annimation */
  --animation-duration: 300ms;
}

/* Universal tags */
* {
  box-sizing: border-box;
  /*padding을 줬을 때도 동일한 width나 height를 가질 수 있도록*/
}

/* body에 폰트와 마진 초기화를 설정해 주었다. */
body {
  max-width: 1920px;
  margin: 0;
  display: flex;
  flex-direction: column;
}


a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

/* 버튼의 기본 속성을 없애주고 밑에서 다시 꾸며준다. */
button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: #0E7159;
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: #0E7159;
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  color: var(--color-black);
  margin: 4px 0;
}

/* Navbar */
#navbar {
  display: flex;
  justify-content: space-between;
  background-color: white;
  align-content: center;
  align-items: center;
}

.navbar__logo a {
  width: 195px;
  height: 32px;
  left: 404px;
  top: 19px;

  color: #0E7159;
}

.logo {
  width: 30px;
  height: 30px;
  left: 404px;
  top: 20px;
  background: #0E7159;

}

.navbar__menu {
  display: flex;
}

.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 4px;
  color: green;
  cursor: pointer;
}

.navbar__menu__item:hover {
  background-color: darkgrey;
  border-radius: var(--size-border-radius);
}


/* home */
div section.home {
  display: flex;
  flex-direction: column;
  align-items: center;

  left: 0px;
  top: 70px;
  border: #000000 solid 10px;

  background: #000000;
  mix-blend-mode: normal;
  opacity: 0.8;
  z-index: 0;
}

.home__content,
.home__contactme {
  color: white;
  /* 텍스트 색상을 하얀색으로 설정 */
  position: relative;
  /* 상대적인 위치 설정 */
  z-index: 9999;
  /* 가장 앞에 보이도록 z-index 값 설정 */
}

.home__contactme {
  justify-content: flex-end;
}

.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

.description {
  display: flex;
  gap: 40px;
}

.descriptions {
  display: flex;
  flex-direction: column;
}

.question {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}



.question__content {
  display: flex;
  gap: 40px;
}

.question__contents {
  display: flex;
  flex-direction: column;
}

.HowTo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

.HowTo__content {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.HowTo__contents {
  flex: 0 0 calc(33.33% - 20px);
  margin: 10px;
  height: 141px;
  width: 200px;
  left: 473px;
  top: 180px;
}

@media (max-width: 991px) {
  .HowTo__contents {
    flex-basis: calc(50% - 20px);
  }
}

@media (max-width: 767px) {
  .HowTo__contents {
    flex-basis: 100%;
  }
}

.number {
  color: #0E7159
}